<div class="w3-sidebar w3-bar-block" style="width:25%">
  <%= link_to 'Tasks management', admin_tasks_path, class: 'w3-bar-item w3-button' %>
  <%= link_to 'Users management', admin_users_path, class: 'w3-bar-item w3-button' %>
</div>